.container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.items-right{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 70%;
    border: 1px solid black;
}

.items-left{
    background-color: #f2f2f2;
    height: 40vh;
    padding: 30px;
    border-radius: 15px;
}
.list-card{
    list-style: none;
}
.list-card li{
    padding: 10px;
    border-bottom: 1px solid black;
}
.btn{
    text-decoration: none;
    background: orangered;
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    color: white;
}

    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .modal {
        background: white;
        padding: 2rem;
        border-radius: 12px;
        max-width: 500px;
        width: 90%;
    }